:root {
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* Font sizes */
  --font-xxs: .625rem;
  --font-xs: .75rem;
  --font-s: .875rem;
  --font-m: 1rem;
  --font-l: 1.125rem;
  --font-xl: 1.25rem;
  --font-xxl: 1.375rem;

  /* Color palette */
  --color-background: #222;
  --color-foreground: #aaa;
  --color-strong: #ccc;
  --color-weak: #666;
  --color-muted: #444;
  --color-accent: #ffb600;

  /* Spacing */
  --gap-xxs: .125rem;
  --gap-xs: .25rem;
  --gap-s: .5rem;
  --gap-m: 1rem;
  --gap-l: 1.5rem;
  --gap-xl: 2rem;
  --gap-xxl: 2.875rem;
}

/* Dark mode */
@media (prefers-color-scheme: light) {
  :root {
    --color-background: #f6f6f6;
    --color-foreground: #333;
    --color-strong: #111;
    --color-weak: #999;
    --color-muted: #ccc;
    --color-accent: #e60047;
  }
}


/* Base styles */

html {
  font-size: 20px;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 16px;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-system);
  line-height: 1.6;
  max-width: 40rem;
  margin: var(--gap-xl) auto;
}

@media screen and (max-width: 500px) {
  body {
    margin: var(--gap-m);
  }
}

body::after {
  color: var(--color-muted);
  display: block;
  content: "完";
  margin: 6rem 0;
  text-align: center;
}

a {
  color: var(--color-strong);
  text-decoration-skip-ink: all;
}

a:hover,
a:focus {
  color: var(--color-accent);
  text-decoration-style: wavy;
}

.link--action::before {
  content: "→ ";
}

h1,
h2,
h3 {
  color: var(--color-strong);
  font-weight: 500;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: var(--gap-xxl);
}

h1 {
  font-size: var(--font-xxl);
}

h2 {
  font-size: var(--font-xl);
}

h3 {
  font-size: var(--font-l);
}

abbr {
  border-bottom: 1px dashed var(--color-muted);
  cursor: help;
  text-decoration: none;
}

kbd,
code {
  border: 1px solid var(--color-muted);
  border-radius: .2rem;
  font-size: var(--font-s);
  padding: var(--gap-xxs) var(--gap-xs);
}

kbd {
  font-family: var(--font-system);
  font-size: var(--font-s);
}

ins {
  text-decoration: none;
}

hr {
  background-color: var(--color-muted);
  border: none;
  height: 1px;
  margin: var(--gap-xxl) 20%;
  position: relative;
  text-align: center;
}

hr::after {
  background-color: var(--color-background);
  color: var(--color-muted);
  content: "•";
  left: 50%;
  padding: var(--gap-xs);
  position: absolute;
  top: -1.06rem;
  transform: translatex(-50%);
}

figure {
  margin: var(--gap-l) calc(-1 * var(--gap-xl));
  text-align: center;
}

@media screen and (max-width: 500px) {
  figure {
    margin: 0 calc(-1 * var(--gap-m));
  }
}

figure img {
  max-width: 100%;
}

figcaption {
  color: var(--color-weak);
  font-size: var(--font-xs);
  margin: 0 var(--gap-xl);
}

@media screen and (max-width: 500px) {
  figcaption {
    margin: 0 var(--gap-m);
  }
}

.figure--side {
  float: left;
  margin: 0 var(--gap-m) var(--gap-m) 0;
  max-width: 40%;
}

p + .figure--side {
  margin-top: var(--gap-m);
}

blockquote {
  border-left: 1px solid var(--color-muted);
  font-style: italic;
  margin: 0;
  padding-left: var(--gap-m);
  position: relative;
}

blockquote::before {
  background-color: var(--color-background);
  color: var(--color-muted);
  content: "“";
  display: inline-block;
  font-size: var(--font-xxl);
  left: calc(-1 * var(--gap-s));
  padding: var(--gap-xxs);
  position: absolute;
  top: calc(-1 * var(--gap-xs));
}

ul,
ol {
  padding-left: var(--gap-l);
}

@media screen and (max-width: 500px) {
  ul,
  ol {
    padding-left: var(--gap-m);
  }
}

ul {
  list-style-type: square;
}

li + li {
  margin-top: var(--gap-s);
}

li::marker {
  color: var(--color-accent);
}

[lang="ja"] {
  word-break: keep-all;
}


/* Site header */

.site__header {
  display: flex;
  margin-bottom: 5rem;
}

.site__title-link {
  color: var(--color-accent);
}

.site__menu {
  flex-grow: 1;
  text-align: right;
}

.site__menu-link,
.site__title-link {
  display: inline-block;
  text-decoration: none;
}

.site__menu-link + .site__menu-link {
  margin-left: var(--gap-l);
}


/* Blog page (post list) */

.feed__heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.feed__link {
  background-color: var(--color-muted);
  border-radius: .2rem;
  font-size: var(--font-xs);
  line-height: 0;
  padding: .4rem;
  text-decoration: none;
}

.posts {
  list-style: none;
  padding: 0;
}

.posts__entry {
  align-items: center;
  display: flex;
  padding: var(--gap-s) 0;
}

@media screen and (max-width: 500px) {
  .posts__entry {
    display: block;
  }
}

.posts__date {
  font-size: var(--font-xs);
  font-variant-numeric: tabular-nums;
  margin-right: var(--gap-m);
  word-break: keep-all;
}

@media screen and (max-width: 500px) {
  .posts__date {
    font-size: var(--font-xxs);
  }
}

.posts__categories {
  color: var(--color-weak);
  font-size: var(--font-xs);
  white-space: nowrap;
}

.posts__title {
  flex-grow: 1;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.posts__link {
  text-decoration: none;
}

.posts__language {
  border: 1px solid;
  border-radius: .2rem;
  color: var(--color-weak);
  font-size: var(--font-xxs);
  padding: var(--gap-xxs) var(--gap-xs);
  vertical-align: .1rem;
}


/* Post */

.post__title {
  position: relative;
  margin-bottom: var(--gap-xs);
}

.post__meta {
  color: var(--color-weak);
  font-size: var(--font-xs);
  margin: 0 0 var(--gap-xl);
}


/* Pagination */

.pagination {
  display: flex;
  font-size: var(--font-s);
  justify-content: space-between;
  margin-top: 6rem;
}

.pagination__link {
  text-decoration: none;
}

.pagination__prev {
  flex-basis: 25%;
  text-align: left;
}

.pagination__back {
  flex-grow: 1;
  text-align: center;
}

.pagination__next {
  flex-basis: 25%;
  text-align: right;
}
