---
permalink: /404.html
layout: default
---

<section>
  <h1>404 — Page Not Found</h1>
  <p>This page could not be found. Maybe you missed a letter in the URL, or this page was deleted for some reason.</p>
  <p>Shoot me an <a href="mailto:oi@rmasoni.com">e-mail</a> or just go back to the <a href="/">homepage</a>.</p>
</section>
