---
layout: default
title: "About me"
---

<h1>Hello, world <span role="img" aria-label="hand wave">👋</span></h1>

<p>My name is <strong>Rafael</strong> <span aria-hidden>(/hafaˈɛl/)</span>, and I’m a designer, developer, illustrator, aspiring singer, and <abbr title="Dungeons & Dragons">D&D</abbr> aficionado.</p>

<p>This is my website, where you’ll find some of my thoughts on tech, design, and my hobbies. I also microblog on <a rel="me" href="https://mastodon.social/@rmasoni">Mastodon</a>.</p>


<h2>Games</h2>

<p>I’ve been an avid gamer for the best part of my life. My favorite games come out primarily from the talented minds at Nintendo and Blizzard, but I’m also a huge fan of the <a href="https://divinity.game">Divinity: Original Sin</a> series, <a href="https://kingmaker.owlcatgames.com">Pathfinder: Kingmaker</a>, <a href="https://eternity.obsidian.net">Pillars of Eternity</a>, the all-time classic <a href="https://www.beamdog.com/games/neverwinter-nights-enhanced">Neverwinter Nights</a>, and a fair share of indie titles. Recently, I’ve also been playing <a href="https://northgard.net">Northgard</a> every week with friends.</p>


<h2>Tabletop RPG</h2>

<p>As you certainly noticed, I have a thing for roleplaying games. I first started playing tabletop <abbr title="roleplaying games">RPGs</abbr> in the early 2000s, and have recently come back to them in the form of a long-running <strong>Dungeons & Dragons</strong> campaign. Some key factors helped me in the decision of finally getting into the <abbr title="Dungeons & Dragons">D&D</abbr> system — the extremely friendly rules of its <a href="https://dnd.wizards.com/dungeons-and-dragons/what-is-dd">fifth edition</a>, the amazing tool that is <a href="https://dndbeyond.com">D&D Beyond</a>, my friend Werner who’s been playing D&D since forever, and <a href="https://critrole.com">Critical Role</a>. I couldn’t have wished for better timing.</p>

<p>Dungeons & Dragons has also sparked a dormant passion for drawing, writing and reading. I’ve never created so much content in my life, and it feels great! I’ve even thought about publishing my setting as a book someday.</p>


<h2>Language</h2>

<p>Like most Brazilians, my mother tongue is Portuguese, but I like to learn other languages.</p>

<p><strong>English</strong> came first. Most private schools in Brazil have English classes, but they’re very bad, and my school was no exception to this. One day, an extremely unpopular English teacher started teaching in my class. She was older than the average, with no propensity to humor, and very strict, but she had two very important traits: (1) she spoke the language like a native and (2) she made us listen, read and speak it, as she barely spoke Portuguese in class. One of our first assignments was to practice and sing in a choir ‘Yesterday’ by The Beatles. From this, not only the seed of interest for the language was planted in my mind, but it was the first time I thought I could sing.</p>

<p>At the same school, I was lucky to also have <strong>Spanish</strong> classes from grade 5 up until graduation. Another sexagenarian but way more sociable teacher guided us through many classes of this language that many think is easy because of its similarities with Portuguese. That’s not completely wrong, but there is so much more to it.</p>

<p>In 2005, my last year in school, I enrolled in what became another huge passion in my life — <strong>Japanese</strong>. As a Brazilian kid from the 80s, I grew up with Japanese heroes and animation on TV, and as many others I dreamed of visiting that distant land full of cool stuff. Little did I know that 10 years later I’d be finally landing in <ruby lang="ja">関西国際空港 <rp>(</rp><rt>かんさいこくさいくうこう</rt><rp>)</rp></ruby> (Kansai International Airport) for the first time, and a year after that starting a business that offers Japanese courses to Portuguese speakers.</p>


<h2>Singing</h2>

<p>Another big passion of mine is singing. It all started when I learned by ear <span aria-label="L’Arc en Ciel" lang="fr">L’Arc〜en〜Ciel</span>’s song <a href="https://music.apple.com/us/album/blurry-eyes-single/1489720383">Blurry Eyes</a> on the acoustic guitar, and tried to sing over it. I’m sure it was terrible, but it was the second time I thought singing was something I could do for real.</p>
<p>Years passed as I trained incessantly, until one day I decided to send a demo to a band on Orkut (yeah, that was some time ago) and, to my absolute surprise, they asked me to join them. Those were some of the best days of my life — traveling between cities to rehearse, singing to (sometimes) hundreds of people, composing, bonding with my band mates, and generally having a good time.</p>
<p>After a couple years, life happened, so we stopped, but to this day I long for those moments of artistic expression and pure joy. Luckily, as a singer I can still have but a small taste of what I did by going to a karaoke.</p>


<h2>A better Internet</h2>

<p>For some time now I have felt that the web is becoming a very bad place. Not only for the blatant racism, homophobia, misogyny and bigotry, but for its core values as a tool. An environment that has nurtured my creativity for so long has been turned into a toxic, mind-washing, brand-driven monopoly; a platform that encourages mindless, exaggerated consumerism in detriment of parsimony and reason.</p>

<p>Many articles have inspired me to act, but I’d strongly recommend Basecamp’s <a href="https://m.signalvnoise.com/every-little-bit-helps/">blog</a> <a href="https://m.signalvnoise.com/you-can-heal-the-internet/">posts</a> on this topic.</p>

<p>Each day I take a step towards a more decentralized, privacy-first, calm, respectful online environment for me. You too can do this by informing yourself and making some compromises in the name of a greater good.</p>

<p>You don’t need to check social media that often. Heck, you probably don’t need social media profiles as much as you think. You are Facebook’s and Google’s product — stay away from them as much as possible.</p>

<p>The change doesn’t have to be a radical, all-or-nothing situation. Just do something.</p>


<hr>


<h1>Colophon</h1>

<p>This website is powered by <a href="https://jekyllrb.com">Jekyll</a>, source controlled by <a href="https://git-scm.com">Git</a> on <a href="https://gitlab.com">GitLab</a>, and hosted by <a href="https://netlify.com">Netlify</a>.</p>
<p>The front-end was carefully authored with modern <abbr title="HyperText Markup Language">HTML</abbr> and <abbr title="Cascading Style Sheets">CSS</abbr> in their purest forms. The typeface is purposefully set to the default of your operating system, so the website feels more at home in your device. Light and dark themes that automatically follow your system preferences are also available.</p>
