---
layout: default
title: "Thoughts on tech, Japan and D&D"
---

<p>I'm a designer, developer, illustrator, aspiring singer, and <abbr title="Dungeons & Dragons">D&D</abbr> aficionado from São Paulo.</p>

<p>You can read my latest articles below or find out more about <a href="/about">me</a> or my <a href="/work">work</a>.</p>

<h1 class="feed__heading">
  Blog posts
  <a class="feed__link" href="/feed.xml">
    <svg class="feed__icon" viewbox="0 0 24 24" width="12">
      <g fill="none" stroke="currentColor" stroke-width="3px" stroke-miterlimit="1.5">
        <path d="M0,11 S13,11 13,24"></path>
        <path d="M0,3 S21,3 21,24"></path>
      </g>
      <circle fill="currentColor" stroke="none" cx="3" cy="21" r="3"></circle>
    </svg>
    Feed
  </a>
</h1>

{% if site.posts %}
<ul class="posts">
  {% for post in site.posts %}
    <li class="posts__entry">
      <time class="posts__date" datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: '%Y-%m-%d' }}</time>
      <div class="posts__title">
        <a class="posts__link" href="{{ post.url }}">
          {% if post.language == "pt-BR" %}
            <abbr class="posts__language" title="Post written in Brazilian Portuguese">PT</abbr>
          {% endif %}
          {{ post.title }}
        </a>
      </div>
      <div class="posts__categories">{{ post.categories | join: ', ' }}</div>
    </li>
  {% endfor %}
</ul>
{% else %}
<p>Sorry, there are no posts here.</p>
{% endif %}
