---
layout: default
title: "Work"
---

<h1>My Work</h1>

<p>Prior to my current position as co-founder of <a href="https://cursonihongo.com,br">NihonGO</a>, where we teach japanese language and culture to portuguese speaking students, I have worked as a UI designer, front-end developer and illustrator for more than a decade. Today, I only work on sporadic side-projects and on my company's website-related needs.</p>

<p>Here are some projects that I worked in the past:</p>

<ul>
  <li><a href="http://perfarm.com">Perfarm</a> — Data oriented app that assists farmers on their decision making.</li>
  <li><a href="http://clicksign.com">Clicksign</a> — Digital signature platform.</li>
  <li><a href="http://gitlab.com/broworkers/climatico">Climatico</a> — Geolocation based app that suggests clothing and preventive measures for the day based on the weather. Rails Rumble '15 entry.</li>
  <li><a href="http://rubytalk.net">Ruby Talk</a> — A chat made for the Brazilian Ruby/Rails community to share ideas, get help and engage in meaningful conversations.</li>
  <li><a href="http://chrome.google.com/webstore/detail/unsubtitle-for-netflix/fhallfieahekmidfbaeobbdiajlmapfg">Unsubtitle for Netflix</a> — Five-star browser extension that removes subtitles from any show on Netflix.</li>
  <li><a href="http://gitlab.com/broworkers/discovry">Discovry</a> — Discover places from all over the world by navigating in a simple and fun way around the world map. Rails Rumble '14 entry.</li>
  <li><a href="http://vua.sh">Vuash</a> — Safely send secret messages that can only be read once.</li>
  <li><a href="http://gitlab.com/broworkers/alpha-color">Alpha Color</a> — What color best represents certain emotions? Have a look at people's perspectives over this. Rails Rumble '13 entry.</li>
  <li><a href="http://broworkers.gitlab.io/hiragata">Hiragata</a> — Simple japanese hiragana to/from katakana converter.</li>
  <li><a href="http://gitlab.com/broworkers/railspg">RailsPG</a> — Tabletop RPG on the browser with a slash command chat, Twitter auth and user roles. Rails Rumble '12 entry.</li>
  <li><a href="http://github.com/plaev/skeleton-jigsaw">Skeleton Jigsaw</a> — A sidescrolling platform game made with ImpactJS.</li>
  <li><a href="http://gitlab.com/broworkers/palavreado">Palavreado</a> — Learn the meaning of commonly misused or unknown Brazilian Portuguese words.</li>
  <li><a href="http://github.com/pothix/reconquest">Reconquest</a> — Bird's-eye shooter game made with the Akihabara game engine at Global Game Jam '11.</li>
  <li>Ikwa — An educational portal for students and professionals, offering training and advice through tests, algorithms and multimedia content.</li>
</ul>
