<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% feed_meta %}

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/syntax-highlight.css">

    <title>{{ page.title }} — Rafael Masoni</title>

    <!-- Favicons -->
    <link rel="icon" href="/assets/img/favicon.svg" type="image/svg+xml">

    <!-- Android -->
    <meta name="theme-color" content="#ffb600">

    <!-- Open Graph -->
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ "assets/img/ograph.jpg" | prepend: site.url }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:title" content="{{ page.title }} — {{ site.title }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:locale:alternate" content="pt_BR">
    <meta property="og:locale:alternate" content="ja_JA">
  </head>

  <body>
    <header class="site__header">
      <section class="site__title"><a class="site__title-link" href="/">Rafael Masoni</a></section>
      <nav class="site__menu">
        <a class="site__menu-link" href="/">Blog</a>
        <a class="site__menu-link" href="/about">About</a>
        <a class="site__menu-link" href="/work">Work</a>
      </nav>
    </header>
    <main>
      {{ content }}
    </main>
    <script data-goatcounter="https://rmasoni.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
  </body>

</html>
