---
layout: default
---

<article class="post" {% if page.language %}lang="{{ page.language }}"{% endif %}>

<header class="post__header">
  <h1 class="post__title">{{ page.title }}</h1>
  <p class="post__meta"><time datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date_to_long_string }}</time> — {{ page.categories | join: ', ' }}</p>
</header>

<section class="post__body">
  {{ content }}
</section>

</article>

<nav class="pagination">
  <div class="pagination__prev">
    {% if page.previous %}
      <a class="pagination__link" href="{{ page.previous.url }}" title="{{ page.previous.title}}"><span role="img">←</span> Previous</a>
    {% endif %}
  </div>

  <div class="pagination__back">
    <a class="pagination__link" href="/"><span role="img">↑</span> All posts</a>
  </div>

  <div class="pagination__next">
    {% if page.next %}
      <a class="pagination__link" href="{{ page.next.url }}" title="{{ page.next.title}}">Next <span role="img">→</span></a>
    {% endif %}
  </div>
</nav>
